@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}